h1{
    color:brown;
}

.header{
    background-color: cyan;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.menu{
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #267926;

}

.menu a{
    margin-left: 20px;

}